# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

#Firebase
lib/firebase_options.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code 
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Flutter build artifacts
**/ios/Flutter/.last_build_id
**/web/packages/flutter_tool/flutter_build/.last_build_id

# iOS build
ios/Pods/
ios/build/
ios/Flutter/App.framework/

# macOS build
macos/DerivedData/

# Web build
web/build/
web/flutter_service_worker.js
web/flutter_assets/

# Linux build
linux/flutter/ephemeral/GeneratedPluginRegistrant.h
linux/flutter/flutter_generated_plugin_registrant.cc

# Windows build
windows/flutter/flutter_export.h
windows/flutter/flutter_export.cc
windows/flutter/flutter_plugins_registrant.h
windows/flutter/flutter_plugins_registrant.cc


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# C++-bezogene Dateien
*.cpp
*.h

# Build-bezogene Ordner
build/
bin/
